@use "@material/theme" with (
  $primary: #ff4000,
  $secondary: #00ffff,
  $on-primary: #cb1500,
  $on-secondary: #008c82
);

@use "@material/button/styles";
@use "@material/button";

.apple-button {
    --mdc-theme-primary: #000000;
    --mdc-theme-on-primary: #f5f5f5;
    @include button.ink-color(#f5f5f5);
}

.google-button {
    --mdc-theme-primary: #DB4437;
    --mdc-theme-on-primary: #f5e2e1;
    @include button.ink-color(#f5e2e1);
}

.fb-button {
    --mdc-theme-primary: #4267B2;
    --mdc-theme-on-primary: #e1e8f5;
    @include button.ink-color(#e1e8f5);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-family: Roboto, serif;
    font-size: 16px; /* base for rem */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outstanding-color: #fa875a;
    --common-color: #e7e5e6;
    --solid-color: #b6b5b3;
    --text-color: #524e4d;
    --bg-color: #ffffff;
}

:root {
    --gap: 1rem;
    --ceiling-gap: 1.5rem;
    --sidewise-gap: 2.0rem;
}
