@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-family: Roboto, serif;
    font-size: 16px; /* base for rem */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outstanding-color: #fa875a;
    --common-color: #e7e5e6;
    --solid-color: #b6b5b3;
    --text-color: #524e4d;
    --bg-color: #ffffff;
}

:root {
    --gap: 1rem;
    --ceiling-gap: 1.5rem;
    --sidewise-gap: 2.0rem;
}
