@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-family: Roboto, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --outstanding-color: #FA875A;
    --common-color: #E7E5E6;
    --solid-color: #B6B5B3;
    --text-color: #524E4D;
    --bg-color: #FFFFFF;
}

