@font-face{
    font-family: 'Century Gothic';
    font-weight: 400;
    src: url('../fonts/century-gothic-reg.woff')format('woff');
}
@font-face{
    font-family: 'Century Gothic';
    font-weight: 700;
    src: url('../fonts/century-gothic-bold.woff')format('woff');
}